version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: examen_final_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: examen_final
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - restaurant_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: examen_final_phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - restaurant_network

volumes:
  mysql_data:

networks:
  restaurant_network:
    driver: bridge